[Unit]
Description=OpenVPN Connection
After=network.target

[Service]
Type=notify
ExecStart=/usr/sbin/openvpn --config /etc/openvpn/client/ctf.ovpn
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target